<div class="container search-container">
  <div class="row text-center">
    <h3 class="pre-header">Listen to the web.</h3>
    <h1 class="search-header">The Keyword Universe</h1>
      <div id="custom-search-input">
        <div class="input-group col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
        <input id="tell-field" type="text" class="search-query form-control search-input" placeholder="Share something here!" />
        <span class="input-group-btn">
          <!-- button -->
          <button id="tellButton" class="btn btn-primary" type="button">
            Share
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="secretbox" class="well secretwell">
      <!-- add flying keywords here -->
    </div>
  </div>
</div>

<div class="container">
  <div class="row heightfix">
    <div id="topten" class="list-group toplist">
      <a href="#" class="list-group-item active">
        Top 10 Keywords
      </a>
      <!-- placeholders -->
    </div>
  </div>
</div>