        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!--[if lt IE 10]>
            <p id="notsupported" class="chromeframe">Denne nettleseren er <strong>ikke støttet</strong>. Vennligst installer Internet Explorer 10, Mozilla Firefox, Google Chrome eller Safari - <a href="http://www.browserchoice.eu">Last ned her!</a></p>
        <![endif]-->