<a href="#" class="list-group-item active">
    Top 10 Searches
</a>

{{#each content}}
    <a href="#" class="list-group-item">{{this.keyword}}<span class="badge">{{this.total}}</span></a>
{{/each}}
